@media (max-width: 1200px) {
  .burger {
    display: flex;
  }
  nav {
    display: none;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 1150px) {
  .home {
    flex-direction: column;
    gap: 50px;
  }
  .cities {
    flex-direction: column;
    gap: 40px;
  }

  .food {
    flex-direction: column-reverse;
  }
  .foood-text h1 {
    font-size: 32px;
  }
  .burger-box {
    flex-direction: column;
  }

  .container {
    padding-inline: 20px;
  }

  .service {
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .home h1 {
    font-size: 32px;
  }
  .home-buttom .buttom {
    padding: 10px 20px;
  }
  .box {
    flex-wrap: wrap;
  }
  .service {
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
  }

  .home {
    gap: 0;
  }
}
@media (max-width: 1150px) {
  .contract {
    flex-direction: column;
  }
}

@media (max-width: 958px) {
  .email-input input {
    padding: 20px 331px;
  }
}
.email-input input {
  padding: 20px 253px;
}

@media (max-width: 907px) {
  .email-input input {
    padding: 20px 291px;
  }
}
@media (max-width: 837px) {
  .email-input input {
    padding: 20px 254px;
  }
  .footer-nav {
    max-width: 930px;
  }
  .footer {
    flex-direction: column;
  }
}
@media (max-width: 775px) {
  .email-input input {
    padding: 20px 202px;
  }
}
@media (max-width: 754px) {
  .email p {
    font-size: 13px;
  }
  .email h1 {
    font-size: 28px;
  }
}
@media (max-width: 683px) {
  .email-input input {
    padding: 18px 183px;
  }
  .contract img {
    max-width: 383px;
  }
  .contract-text p {
    font-size: 15px;
  }
}
@media (max-width: 643px) {
  .email-input input {
    padding: 18px 130px;
  }
  .footer-start img {
    max-width: 100px;
  }
}
@media (max-width: 563px) {
  .email h1 {
    font-size: 24px;
  }
  .email p {
    font-size: 11px;
  }
}
@media (max-width: 515px) {
  .email-input input {
    padding: 18px 109px;
  }
}
@media (max-width: 501px) {
  .email-input input {
    padding: 18px 109px;
  }
  @media (max-width: 515px) {
    .email h1 {
      font-size: 19px;
    }
    .contract img {
      max-width: 317px;
    }
    .contract-text p {
      font-size: 13px;
    }
  }
}
@media (max-width: 470px) {
  .contract-title h1 {
    font-size: 28px;
  }
  .contract img {
    max-width: 356px;
  }
  .footer-image3 {
    padding: 16px 16px;
  }
  .footer-image1 {
    padding: 16px 16px;
  }
  .footer-image2 {
    padding: 16px 16px;
  }
  .email-input input {
    padding: 18px 93px;
  }
}
@media (max-width: 434px) {
  .email-input input {
    padding: 18px 77px;
  }
}

@media (max-width: 443px) {
  .contract-title h1 {
    font-size: 16px;
  }
  .contract-text {
    gap: 13px;
  }
  .contract-title {
    padding-block: 7px;
  }
}
